* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 6px;
  margin: 0px;
  padding: 0px;
}

@import "themes/Catppuccin-Mocha.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  margin: 3px 9px 3px 3px;
  padding: 0px 5px;
  color: @workspace-fg;
  transition: all 0.2s ease-in;
}

#workspaces button.active {
  background: transparent;
  color: @wb-act-fg;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  /* background: @main-bg; */
  background: transparent;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding: 0px 4px;
}

#battery {
  color: @battery;
}
#backlight {
  color: @backlight;
}

#clock,
#idle_inhibitor {
  color: @clock;
}

#pulseaudio {
  color: @pulseaudio;
}

#network {
  color: @network;
}

#custom-power {
  color: @power;
}

#custom-r_end {
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#custom-l_end {
  border-radius: 10px 0px 0px 10px;
  margin-left: 5px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 5px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 5px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 5px;
}
