* {
  border: none;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-size: 19px;
}

@import "themes/Tomorrow-Night.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
}

#workspaces button {
  margin: 0px;
  padding: 0px 0px;
  color: @workspace-fg;
  border: 1px solid #4c4c4c;
}

#workspaces button.focused {
  background: transparent;
  color: @wb-act-fg;
  border: 1px solid @wb-act-fg;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
}

#battery {
  color: @workspace-fg;
}
#backlight {
  color: @workspace-fg;
}

#clock,
#idle_inhibitor {
  color: @workspace-fg;
  font-weight: bold;
}

#pulseaudio {
  color: @workspace-fg;
}

#network {
  color: @workspace-fg;
}

#custom-power {
  color: @power;
}

#custom-r_end {
  /* border-radius: 0px 10px 10px 0px; */
  /* margin-right: 5px; */
}

#custom-l_end {
  /* border-radius: 10px 0px 0px 10px; */
  /* margin-left: 5px; */
}

#custom-sr_end {
  border-radius: 0px;
  /* margin-right: 5px; */
}
